<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h2 class='subtitle is-4 has-text-grey'>New Recommendation</h2>
      <%= render 'form', user: @user, recommendation: @recommendation %>
    </div>
  </div>
</section>