<section class="container is-fluid">
  <div class="section">
    <table class='table is-striped is-hoverable is-fullwidth'>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user, class: 'subtitle is-3 has-text-link' %></td>
          <td></td>
          <td class='has-text-right'>
            <%= link_to 'Edit', edit_user_path(user), class: 'has-text-link' %>
            &nbsp;
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'has-text-danger'  %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>