<section class="container is-fluid">
  <section class="section">
    <nav class="level" role="navigation" aria-label="main navigation">
      <div class="level-left">
        <h1 class="title">
          <%= link_to 'patience', '/'%>
        </h1>
      </div>
      <div class='level-right'>

        <%= link_to 'new user', new_user_path, class:"button has-text-right" %>
      </div>
    </nav>
    <%= render 'shared/notice' %>
  </section>
</section>