<% if notice %>
  <section class="hero is-warning is-small">
    <div class="hero-body">
      <div class="container">
        <p id="notice">
          <%= notice %>
        </p>
      </div>
    </div>
  </section>
<% end %>
