<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h2 class='subtitle is-4 has-text-grey'>New Identification</h2>
      <%= render 'form', identification: @identification %>
    </div>
  </div>
</section>